@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

html, body {
  font-family: 'Keania One', sans-serif;
  margin: 0;
  padding: 0px;
  width: 1280px;
  height: 841px;
  box-sizing: border-box;
}
h1 {
  color: #EC485D;
}

#blanco {
  color: #FFDEDE;
  -webkit-text-stroke: 0.1px black;
}
#button1 {
   display: inline-block;
  background: linear-gradient(to bottom, #69001F, #000000);
  color: #CF0F47;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 1px;
}
#indexsp {
  color: #FFDEDE;
}