@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

html, body {
  font-family: 'Keania One', sans-serif;
  margin: 0;
  padding: 20px;
}
h1 {
  color: #EC485D;
}

#blanco {
  color: #FFDEDE;
  -webkit-text-stroke: 0.1px black;
  text-stroke: 0.1px black;
}