@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

html, body {
  font-family: 'Keania One', sans-serif;
  margin: 0;
  padding: 0px;
  width: 1280px;
  height: 841px;
  box-sizing: border-box;
}
#tith {
  color: #EC485D;
  position: relative; 
    top: 0px;
    left: 90px;
    font-size: 70px;
}

#blanco {
  color: #FFDEDE;
  -webkit-text-stroke: 0.1px black;
}
#button1 {
   display: inline-block;
  background: linear-gradient(to bottom, #69001F, #000000);
  color: #CF0F47;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 1px;
}
#indexsp {
  color: #FFDEDE;
}
#blanco1 {
    color: #FFDEDE;
    -webkit-text-stroke: 0.1px black;
    font-size: 16px;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    word-wrap: break-word;

    position: relative; 
    top: 200px;
    left: 40px;
}
